p {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    color: red;
}

h1 {
    text-align: center;
    color: whitesmoke;
}

.highcharts-figure {
    max-width: 2000px;
}

h2 {
    text-align: center;
    color: whitesmoke;
}

h3 {
    text-align: center;
    color: whitesmoke;
}

strong {
    color: whitesmoke;
}

